<div class="center hero-unit">
  <h1>Witaj w RubinBnB!</h1>

  <h2><a href="#">Rubin BnB</a> jest fejkowym system zaproszeń wykonanym w celu nauki RoR</h2>
  <%= link_to "Załóż konto!", '#', class: "btn btn-large btn-primary" %><br />
  <%= link_to "Zaproś znajmych z Facebooka", '#' %>
  <%= link_to "Zaproś znajmych poprzez Email", '#' %>      
</div>
