  <header>
    <nav>
      <ul class="nav pull-right">
        <li><%= link_to "Home",    '#' %></li>
        <li><%= link_to "Zarejestruj się",    '#' %></li>
        <li><%= link_to "Logowanie", '#' %></li>
        <li><%= link_to "Profil", '#' %></li>        
      </ul>
    </nav>  
  </header>
