  <header>
    <nav>
      <ul class="nav pull-right">
        <li><%= link_to "Home",  root_path %></li>
        <li><%= link_to "Zarejestruj się", singup_path %></li>
        <li><%= link_to "Logowanie", login_path %></li>
        <li><%= link_to "Profil", profile_path %></li>        
      </ul>
    </nav>  
  </header>
